/*cel: 980w | 1739 - 2122h*/
.capa
{
	background-image: url(imagens/capa/capax330.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}


/*tablet: 980-1024w | 1306-1366h*/
@media (max-height: 1500px)
{
	.capa
	{
		background-image: url(imagens/capa/capax220.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}

/*pc: 1366w | 631h*/
@media (max-height: 1100px)
{
	.capa
	{
		background-image: url(imagens/capa/capax140.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}