/*cel*/
@media (min-width: 300px)
{
	.capa
	{
		background-image: url(imagens/capa/capax130.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}

/*tablet*/
@media (min-width: 700px)
{
	.capa
	{
		background-image: url(imagens/capa/capax220.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}

/*pc*/
@media (min-width: 1100px)
{
	.capa
	{
		background-image: url(imagens/capa/capax140.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}