.h-1
{
	margin: 0px;
	font-size: 60pt;
}

.h-2
{
	margin: 0px;
	font-size: 20pt;
}

.h-3
{
	margin: 0px;
	font-size: 15pt;
	display: inline;
}

.h-4
{
	margin: 0px;
	font-size: 12pt;
	display: inline;
}

.centro-vertical
{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.cor1
{
	background-color: #212121;
}

.cor2
{
	background-color: #2E2E2E;
}

.tamanho
{
	height: 40px; 
	width: 40px;
}

.fundo
{
	background-color: rgba(0,0,0,.5);
	padding: 0px 4px 0px 4px;
}