.h-1
{
	margin: 0px;
	font-size: 60pt;
	text-shadow: black 2px 2px 2px;
}

.h-2
	{
		margin: 0px;
		font-size: 30pt;
		text-shadow: black 2px 2px 2px;
	}

.h-3
{
	margin: 0px;
	font-size: 15pt;
	display: inline;
	text-shadow: black 2px 2px 2px;
}

.h-4
{
	margin: 0px;
	font-size: 12pt;
	font-weight: bold;
	display: inline;
	text-shadow: black 2px 2px 2px;
}

.centro-vertical
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.baixo
{
	position: relative;
	top: 100%;
	transform: translateY(-100%); 
}

.cor1
{
	background-color: #212121;
}

.cor2
{
	background-color: #2E2E2E;
}

.tamanho
{
	height: 40px; 
	width: 40px;
}

.fundo
{
	background-color: rgba(0,0,0,.5);
	padding: 0px 4px 0px 4px;
}

.geometrica
{
	background-image: url(imagens/geometrica/geometricax100.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
}

/*
cel - 300
tablet - 700
pc - 1100
*/

@media (min-width: 300px)
{
	.menufs
	{
		font-size: 15pt;
	}
	
	.resumofs
	{
		margin: 0px;
		font-size: 15pt;
		text-shadow: black 2px 2px 2px;
	}
	
	.conhecimentosfs1
	{
		margin: 0px;
		font-size: 18pt;
		font-weight: bold;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.conhecimentosfs2
	{
		margin: 0px;
		font-size: 12pt;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.projetosfs1
	{
		margin: 0px;
		font-size: 12pt;
		font-weight: bold;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.projetosfs2
	{
		margin: 0px;
		font-size: 10pt;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.capa
	{
		background-image: url(imagens/capa/capax130.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	
	.code
	{
		background-image: url(imagens/code/codex100.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}

@media (min-width: 700px)
{
	.menufs
	{
		font-size: 20pt;
	}
	
	.resumofs
	{
		margin: 0px;
		font-size: 30pt;
		text-shadow: black 2px 2px 2px;
	}
	
	.conhecimentosfs1
	{
		margin: 0px;
		font-size: 30pt;
		font-weight: bold;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.conhecimentosfs2
	{
		margin: 0px;
		font-size: 25pt;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.projetosfs1
	{
		margin: 0px;
		font-size: 23pt;
		font-weight: bold;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.projetosfs2
	{
		margin: 0px;
		font-size: 20pt;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.projetosfs2
	{
		margin: 0px;
		font-size: 15pt;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.capa
	{
		background-image: url(imagens/capa/capax220.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	
	.code
	{
		background-image: url(imagens/code/codex130.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}

@media (min-width: 1100px)
{
	.menufs
	{
		font-size: 12pt;
	}
	
	.resumofs
	{
		margin: 0px;
		font-size: 20pt;
		text-shadow: black 2px 2px 2px;
	}
	
	.conhecimentosfs1
	{
		margin: 0px;
		font-size: 20pt;
		font-weight: bold;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.conhecimentosfs2
	{
		margin: 0px;
		font-size: 15pt;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.projetosfs1
	{
		margin: 0px;
		font-size: 18pt;
		font-weight: bold;
		display: inline;
		text-shadow: black 2px 2px 2px;
	}
	
	.capa
	{
		background-image: url(imagens/capa/capax140.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	
	.code
	{
		background-image: url(imagens/code/codex70.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
}