/*cel*/
@media (min-width: 300px)
{
	.geometrica
	{
		background-image: url(imagens/geometrica/geometricax100.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: right top;
	}
}

/*tablet*/
@media (min-width: 700px)
{
	.geometrica
	{
		background-image: url(imagens/geometrica/geometricax100.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: right top;
	}
}

/*pc*/
@media (min-width: 1100px)
{
	.geometrica
	{
		background-image: url(imagens/geometrica/geometricax100.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: right top;
	}
}