/* All Pages */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: helvetica;
    color: rgb(50,200,150);
}
body {
    background:  rgb(0,20,30);
}
.container {
    max-width: 1000px;
    margin: 100px auto 100px auto;
}

/* Menu */
nav {
    position: fixed;
    top: 0;
    background: linear-gradient(to top, #263238, #000000);
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 18px; 
}
nav ul {
    margin-left: 20px;
}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav ul li a {
    padding: 10px;
    border-radius: 5px; 
}
nav ul li a:hover {
    background-color: rgb(50,200,150);
    color: black;
}
.selected {
    background-color: rgb(50,200,150);
    color: black;
}

/* Inicio */
#profileBackground {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 60px;
}
#profileBackgroundDark {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
#profileName {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#about {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(50,200,150);
    margin-left: 20px;
    margin-right: 20px;  
}
.aboutText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Habilidades */
#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icon {
    width: 200px;
    height: 200px;
}
.skillIcon {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(50,200,150);
}
.skillName {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/* footer */
footer {
    display: flex;
    /* border-top: 1px solid rgb(50,200,150); */
    background: linear-gradient(to bottom, #263238, #000000);
    padding-top: 30px;
    padding-bottom: 30px;
}
.footerDivision {
    flex: 1;
    text-align: center;
}
.footerTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}
.footerSubTitle {
    display: inline-block;
    margin-bottom: 20px;
}
.socialLink {
    margin-left: 5px;
    margin-right: 5px;
}
.socialIcon {
    height: 40px;
    width: 40px;
}